@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #222831;
    --secondary-color: #00ADB5;
    --text: #393E46;
    --off-white: #F3F4F6;
    --svg-secondary-filter: invert(51%) sepia(67%) saturate(2685%) hue-rotate(147deg) brightness(93%) contrast(101%);

}

body{
    margin:0;
    text-align: center;
    background-color: var(--off-white);
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: var(--primary-color);
    margin-top: 0;
    padding: 0.5rem;

    border-radius: 0 0 1rem 1rem;
}

.header h1 {
    font-weight: bolder;
    margin: 0;
    color: var(--secondary-color);
    font-weight: bold;
}

main{
    margin-top: 3rem;
}

input, button {
    margin: 2rem auto;
    height: 2rem;
    display: block;
    border: solid 3px var(--secondary-color);
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    width: 20rem;
    max-width: 90vw;
    padding: 0.5rem 0.5rem;
}
button{
    width: auto;
    height: auto;
    padding: 0.5rem 2rem;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}
button:disabled{
    background-color: white;
}
.output{
    display: none;
    max-width: 70vw;
    margin: auto;
    border:solid 2px var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    font-weight: bolder;
    
}

p{
    max-width: 90vw;
    margin: 1rem auto 0 ;
}

footer {
    margin: 3rem auto 0;
    max-width: 90vw;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    color: black;
}

.footer h3 {
    margin-top: 0rem;
}

.container-footer-links {
    padding: 0.5rem;
}

.container-footer-links a {
    padding: 1rem 1rem;
}

.icons {
    max-width: 40px;
}
.svg{
    filter: var(--svg-secondary-filter);
}